Repository Zzzero-hash/trade-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername/infra-team, @yourusername/core-dev, @yourusername/testing-team, @yourusername/docs-team

feat: Add custom modes for documentation and user story creation; remove MCP server implementation
  .gitignore
  .roomodes
  mcp_server.py
Owners: none

Add data ingestion, orchestration, and processing modules
  main.py
  pyproject.toml
  src/data/cleaning.py
  src/data/data_fetcher.py
  src/data/ingestion.py
  src/data/orchestrator.py
  src/data/processing.py
Owners: @yourusername/core-dev

Add symbol validation report and testing framework
  .pre-commit-config.yaml
  README.md
  docs/COLUMN_CONSISTENCY_SOLUTION.md
  docs/data_processing_workflows.md
  docs/ray_parallelization_plan.md
  docs/schema_validation_framework.md
  docs/symbol_validation_framework.md
  main.py
  src/data/cleaning.py
  src/data/evaluation.py
  src/data/ingestion.py
  src/data/orchestrator.py
  src/data/processing.py
  src/data/schema_aware_processing.py
  src/data/schema_config.py
  src/data/schema_validator.py
  src/data/symbol_corrector.py
  src/data/validation.py
  symbol_validation_cache.json
  symbol_validation_report.txt
  tests/test_schema_validation_demo.py
  tests/test_symbol_validation.py
Owners: @yourusername/docs-team, @yourusername/core-dev, @yourusername/testing-team

removal of junk
  docs/orchestrator_integration_analysis.py
  docs/orchestrator_usage_guide.md
  main.py
  src/data/enhanced_orchestrator.py
  src/data/orchestrator.py
  src/data/unified_orchestrator.py
Owners: @yourusername/core-dev

wipe
  .gitignore
  README.md
  docs/COLUMN_CONSISTENCY_SOLUTION.md
  docs/cnn_lstm_architecture.md
  docs/data_processing_workflows.md
  docs/orchestrator_integration_analysis.py
  docs/orchestrator_usage_guide.md
  docs/ray_parallelization_plan.md
  docs/schema_validation_framework.md
  docs/symbol_validation_framework.md
  main.py
  pyproject.toml
  src/data/__init__.py
  src/data/cleaning.py
  src/data/enhanced_orchestrator.py
  src/data/evaluation.py
  src/data/ingestion.py
  src/data/processing.py
  src/data/schema_aware_processing.py
  src/data/schema_config.py
  src/data/schema_validator.py
  src/data/symbol_corrector.py
  src/data/unified_orchestrator.py
  src/data/validation.py
  symbol_validation_cache.json
  tests/test_schema_validation_demo.py
  tests/test_symbol_validation.py
Owners: @yourusername/docs-team, @yourusername/core-dev, @yourusername/testing-team

prep
  .gitignore
  package-lock.json
  package.json
  src/data/__init__.py
  symbol_validation_cache.json
Owners: @yourusername/core-dev

Enhance PPO training and evaluation setup with reward scaling and environment normalization
  .devcontainer/devcontainer.json
  configs/ppo_config.json
  logs/ppo/PPO_2/events.out.tfevents.1754952578.c85925f06b9d.10466.0
  logs/ppo/evaluations.npz
  models/rl/best_model.zip
  models/rl/ppo_final.zip
  pyproject.toml
  reports/ppo_evaluation_metrics.json
  reports/ppo_learning.png
  scripts/evaluate_ppo.py
  src/rl/train_ppo.py
Owners: @yourusername/core-dev

Enhance PPO training and evaluation setup with reward scaling and environment normalization
  scripts/evaluate_ppo.py
Owners: none

Add SAC training script and implement entropy coefficient monitoring
  configs/ppo_config.json
  configs/sac_config.json
  logs/sac/SAC_1/events.out.tfevents.1755021952.9dfdf7875a7d.37140.0
  logs/sac/SAC_2/events.out.tfevents.1755022766.9dfdf7875a7d.39556.0
  logs/sac/evaluations.npz
  reports/ppo_evaluation_analysis.md
  reports/ppo_evaluation_metrics.json
  reports/sac_evaluation_metrics.json
  reports/sac_learning.png
  reports/sac_policy_comparison.json
  scripts/compare_sac_policies.py
  scripts/compare_sac_random.py
  scripts/evaluate_sac.py
  scripts/evaluate_sac_stochastic.py
  scripts/test_random_policy.py
  src/ensemble/combine.py
  src/rl/train_ppo.py
  src/rl/train_sac.py
Owners: @yourusername/core-dev

Add backtesting framework and sample scripts
  Makefile
  docs/eval/backtesting_implementation_summary.md
  docs/eval/backtesting_usage_guide.md
  docs/ray_parallelization_plan.md
  docs/symbol_validation_framework.md
  main.py
  reports/backtest_report.html
  reports/ensemble_recommendation_summary.md
  reports/ensemble_vs_individual_backtest.json
  reports/equity_backtest_results.csv
  reports/equity_curve.png
  reports/metrics_backtest_results.csv
  reports/trades_backtest_results.csv
  scripts/backtest_ensemble_comparison.py
  scripts/run_backtest.py
  src/data/__init__.py
  src/data/cleaning.py
  src/data/ingestion.py
  src/data/processing.py
  src/data/symbol_corrector.py
  src/data/unified_orchestrator.py
  src/data/validation.py
  src/eval/backtest.py
  tests/test_pipeline_smoke.py
Owners: @yourusername/core-dev, @yourusername/testing-team

Refactor code structure for improved readability and maintainability
  docs/eval/backtesting_verification_results.md
  reports/reward_params_best_params.json
  reports/reward_params_tuning_20250813_031628_study.pkl
  reports/ridge_best_params.json
  reports/ridge_tuning_20250813_023548_study.pkl
  reports/ridge_tuning_20250813_031656_study.pkl
  scripts/debug_zero_signal.py
  scripts/verify_backtesting.py
  scripts/verify_backtesting_fixed.py
  src/envs/trading_env.py
  src/eval/tune.py
Owners: @yourusername/core-dev

Refactor code structure for improved readability and maintainability
  src/eval/tune.py
Owners: @yourusername/core-dev

Enhance architecture summary documentation with detailed component descriptions and data flow diagrams
  docs/source/architecture_summary.md
Owners: none

fix readme
  README.md
Owners: @yourusername/docs-team

chore: expand .gitignore to cover node_modules, .cache, logs, reports, models, and build artifacts
  .gitignore
Owners: none

chore: remove tracked editor/cache files from node_modules
  node_modules/.cache/prettier/.prettier-caches/312a4b296fc05995dd4302f778a98b76b6b803a3.json
Owners: none

chore: expand .gitignore to cover node_modules, .cache, logs, reports, models, and build artifacts
  CODE_OF_CONDUCT.md
  LICENSE
  Makefile
  README.md
  docs/source/api/sl_models.rst
  main.py
  pyproject.toml
  reports/backtest_report.html
  src/eval/backtest.py
  src/sl/train.py
Owners: @yourusername/docs-team, @yourusername/core-dev

feat: add Git LFS configuration for large files
  .gitattributes
  .gitignore
Owners: none

docs: add comprehensive cleanup summary
  CLEANUP_SUMMARY.md
Owners: none

docs: add DVC setup guide for large data management
  DVC_SETUP.md
Owners: none

feat: add Git history cleanup script
  scripts/cleanup_git_history.sh
Owners: none

feat: add replay run script for comprehensive validation pipeline
  scripts/replay_run.py
Owners: none

feat: add replay configuration, validation reports, and testing suite for reproducibility
  configs/replay_ppo_config.json
  src/envs/trading_env.py
  test_validation_report.json
  tests/test_replay_validation.py
  validation_report.json
Owners: @yourusername/core-dev, @yourusername/testing-team

feat: update CI configuration for Python version matrix and improve test reporting feat: remove outdated documentation workflow and add pytest markers for tests
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  pyproject.toml
  tests/test_replay_validation.py
  tests/test_sl_models.py
Owners: @yourusername/infra-team, @yourusername/testing-team

fix: downgrade Optuna dependency to ensure compatibility
  pyproject.toml
Owners: none

fix: update Makefile and documentation links for consistency and clarity
  Makefile
  docs/source/CONTRIBUTING.md
  docs/source/index.rst
  docs/source/sl/sl_model_dag.md
  docs/source/sl/step4_sl_model_detailed_plan.md
  docs/source/sl/supervised_learning.md
  docs/source/system_overview.md
Owners: none

feat: Add feature schema extraction and observation schema validation utilities
  data/features_schema.json
  scripts/verify_schema_extraction.py
  src/data/schema.py
  src/envs/observation_schema.py
  src/envs/trading_env.py
  src/rl/train_ppo.py
  src/sl/config_loader.py
  src/sl/train.py
Owners: @yourusername/core-dev

Refactor: Remove legacy agent implementations and consolidate configurations
  CLEANUP_SUMMARY.md
  LEGACY_CLEANUP.md
  README.md
  agents/__init__.py
  agents/base.py
  agents/hybrid_policy.py
  agents/ppo_rllib.py
  agents/sac_sb3.py
  agents/toy_env.py
  conf/README.md
  conf/config.yaml
  conf/model/_base.yaml
  conf/model/cnn_lstm.yaml
  conf/model/garch.yaml
  conf/model/linear.yaml
  conf/model/mlp.yaml
  conf/model/ridge.yaml
  conf/model/transformer.yaml
  conf/pipeline/sample_pipeline.yaml
  conf/pipeline/simple_test.yaml
  configs/cnn_lstm_config.json
  configs/garch_config.json
  configs/linear_config.json
  configs/mlp_config.json
  configs/ppo_config.json
  configs/ridge_config.json
  configs/sac_config.json
  configs/transformer_config.json
Owners: @yourusername/docs-team

feat: Add new agent files and configuration updates; enhance data handling and synthetic feature generation
  agents/__init__.py
  agents/base.py
  agents/hybrid_policy.py
  agents/ppo_rllib.py
  agents/sac_sb3.py
  agents/toy_env.py
  conf/cv/default.yaml
  conf/model/linear.yaml
  conf/model/ridge.yaml
  data/README.md
  data/bridge_cache/yahoo_finance_source_processed_55f3ed98-fc8b-4f42-b849-cc73358a87d0_trading_format.parquet
  data/sample_data.csv
  pyproject.toml
  scripts/replay_run.py
  scripts/train_rl_hydra.py
  scripts/train_sl_hydra.py
  sitecustomize.py
  src/trade_agent/envs/trading_env.py
  src/trade_agent/evaluation/__init__.py
Owners: @yourusername/docs-team, @yourusername/core-dev

refactor: Update OmegaConf usage in training script for improved clarity and maintainability
  .github/workflows/ci.yml
  scripts/train_sl_hydra.py
Owners: @yourusername/infra-team

refactor: Clean up imports and update timezone handling in benchmark data pipeline script
  Dockerfile
  data/bench/BENCH.csv
  data/bench/cache/BENCH_1H.parquet
  scripts/backtest_ensemble_comparison.py
  scripts/benchmark_data_pipeline.py
Owners: none

Add configuration files for various models and algorithms
  conf/deprecated/ridge.yaml
  conf/deprecated/rl/algo/ppo.yaml
  conf/deprecated/rl/algo/sac.yaml
  conf/deprecated/rl/algo/sac_optuna.yaml
  conf/deprecated/rl/features/mlp.yaml
  conf/deprecated/rl/training/default.yaml
  conf/deprecated/search_space/README.md
  conf/deprecated/search_space/cnn_lstm_seq.yaml
  conf/deprecated/search_space/garch_core.yaml
  conf/deprecated/search_space/mlp_basic.yaml
  conf/deprecated/search_space/mlp_extended.yaml
  conf/deprecated/search_space/ppo_core.yaml
  conf/deprecated/search_space/ridge_alpha.yaml
  conf/deprecated/search_space/sac_core.yaml
  conf/deprecated/search_space/transformer_core.yaml
  conf/deprecated/transformer.yaml
  data/registry.db
  data/test_env/test_env.parquet
  integrations/enhanced_trading_env.py
  run_analysis.py
  scripts/train_sl_hydra.py
  tests/test_end_to_end_integration.py
  tests/test_enhanced_env_reward_components.py
  tests/test_enhanced_env_unit.py
  tests/test_features_raw_ohlcv.py
  tests/test_hydra_training.py
  trade_agent/integrations/__init__.py
  trade_agent/integrations/data_trading_bridge.py
  trade_agent/integrations/enhanced_trading_env.py
Owners: @yourusername/docs-team, @yourusername/testing-team

Stop tracking generated reports
  .gitignore
  agents/__init__.py
  agents/base.py
  agents/hybrid_policy.py
  agents/ppo_rllib.py
  agents/sac_sb3.py
  agents/toy_env.py
  reports/README.md
Owners: @yourusername/docs-team

chore: remove package.json and sitecustomize.py files
  conf/README.md
  docs/DVC_SETUP.md
  docs/UNIFIED_DATA_ENGINE.md
  docs/UNIFIED_FRAMEWORK_README.md
  docs/source/INTEGRATION_ASSESSMENT.md
  docs/training_pipeline_diagram.md
  extract_validation.py
  integrations/enhanced_trading_env.py
  package-lock.json
  package.json
  sitecustomize.py
Owners: @yourusername/docs-team

.github/CODEOWNERS:

# Code owners for automatic review requests
# Each line is a file pattern followed by one or more owners
# These owners will be requested for review when PRs touch the matching paths

# Infrastructure
.github/ @yourusername/infra-team
.github/workflows/ci.yml @yourusername/infra-team

# Core code
src/ @yourusername/core-dev
build_datasets.py @yourusername/core-dev

# Tests
tests/ @yourusername/testing-team

# Documentation
README.md @yourusername/docs-team
